html *
{
  font-family: "Open Sans";
}

body {
    font-family: "Open Sans";
    font-size: 100%;
    width: 100%;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display:table-cell;
}

.row {
    margin-right: 0 ! important;
    margin-left: 0 ! important;
}

.container_fluid {
  margin-right: 0 ! important;
  margin-left: 0 ! important;
  padding-right: 0 ! important;
  padding-left: 0 ! important;
}


.box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#header  {
    background-image: url(img/flowmap.png);
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 !important;
    background-position: center;
    background-color: #111523;
}

div.social-icons {
    padding-top: 0.8em;
    height: 5em;
    position: fixed;
}

div.socicon {
    float: right;
    width: 2em;
    margin-right: 1em;
    text-align: right;  
}

div.logo {
  padding-top: 0.8em;
}

.center{
    position: absolute;
    bottom: 0;
    top: 40%;
    text-align: center;
    margin-left: 20px;
}

.credits{
    position: absolute;
    bottom: 0;
    top: 70%;
    text-align: center;
}

.myh1 {
    caption-side: top;
    text-align: center;
    font-weight: 800;
    font-size: 3em;
    color: white;
    line-height: 140%;
}

.credits > p {
    text-align: center;
    color: white;
    font-size: 1em;
    margin-top: 30%;
    position: middle;
}

.intro {
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
    font-weight: 800;
    font-size: 1.3em;
}

.basic {
    margin-top: 2%;
    margin-bottom: 3%;
}

.text {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.speech {
  margin-bottom: 2%;\
  margin-bottom: 5px;
  color: #ff7b1d;
  font-size: 1.2em;
  text-align: center;
}

.textnote {
    font-size: 1em;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 5px;
    color: #ff6c03;    
}

h4{
    font-size: 1em;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 5px;
    color: #5D646F;    
}

a {
  color: #5D646F;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

p {
    color: #6E6E6E;
    font-size: 1.3em;
}


a.mylink {
    color: #ff7b1d;
    border-bottom: 0px;
}

a.greylink {
    color: #5D646F;
    border-bottom: 0px;
    border-bottom: 0.8px dashed;
    text-decoration: none;
}

a.greylinkmin {
    color: #5D646F;
    border-bottom: 0px;
    text-decoration: none;
}

a.notelink {
    font-size: 1em;
    color: #ff7b1d;
    border-bottom: 0px;
    border-bottom: 0.8px dashed;
    text-decoration: none;    
}


img {
    width: 100%;
    height: 100%;
    display: block;
}

img.smaller {
  width: 70%;
  height: 70%;
}

img.gif {
  height: 60px;
  width: auto;
}

/*special images for mobile*/

img.mobile {
  display:none;
}

img.ranks {
  width: 70%;
  height: 70%;
}

.comment {
    cursor: default;
    font-weight: bold;
    color: #5D646F;
}

.my-comment1 {
    font-size: 0.8em;
    font-weight: 300;
    color: #ff7b1d;
    padding-top: 1%;
}

.my-comment2 {
    font-size: 0.8em;
    font-weight: 300;
    color: #ff7b1d;
    padding-top: 1%;
}

.caption {
    caption-side: top;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
    color: #5D646F;
}

.h1 {
    caption-side: top;
    text-align: center;
    font-weight: 800;
    font-size: 1.5em;
    color: #5D646F;
    margin-top: 4px;
}

.commentgraph {
    caption-side: right;
    text-align: right;
    font-weight: 600;
    font-size: 1.2em;
    color: #5D646F;
    line-height: 1.4em;
    display: inline;
}

table.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    width: 60%;
    font-size: 0.9em;
}

th.caption {
    caption-side: top;
    text-align: center;
    font-weight: 700;
    font-size: 1.3em;
    color: #5D646F;
}

td.common {
    font-weight: 800;
    color: #ff7b1d;
    font-size: 1.5em; 
}

td.common2 {
    font-weight: 800;
    color: ##5D646F;
    font-size: 1.5em; 
}


td.highlight{
  color: #FFFFFF;
  background-color: #ff7b1d;
  font-size: 1.5em;
  font-weight: 800;
}

td.texttable{
  font-size: 1.5em;
  color: #5D646F;
}

td.num{
  font-size: 1.5em;
  color: #5D646F;
  font-weight: 800;
}

td.footnotes{
  font-size: 1em;
  color: #5D646F;
  font-weight: 500;
}

/*Footer*/

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 170px;
  background: #1c2124 none repeat scroll 0 0;
  text-align: left;
  font-size: 14px;
  padding: 0;
  display: block;
  margin-top: 50px; }
  #footer h5 {
    color: white; }

#footer-wraper {
  padding-top: 20px;
  margin-left: 5%;
  margin-left: 5%; }

.links li {
  color: #fff;
  font-size: 0.8em; }
  @media (max-width: 1024px) {
    .links li {
      display: none; } }

li> a {
    color: white;
}

.copyright {
  float: left;
  font-size: 0.7em;
  color: #fff; }
  @media (max-width: 1024px) {
    .copyright {
      font-size: 0.5em; } }
  .copyright p {
    padding-bottom: 0px; }

.copying-info {
  padding-top: 20px;
  font-size: 0.7em;
  line-height: 15px;
  color: #888c91; }
  @media (max-width: 1024px) {
    .copying-info {
      padding-top: 10px;
      font-size: 0.5em; } }
  @media (max-width: 767px) {
    .copying-info {
      padding-top: 10px; } }

.support-site:link,
.support-site:visited {
  color: #FAA61A; }

 /* for small and medium screens*/

/*col behabiour (reduce margins)*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1024px) and (min-device-width: 300px) and (orientation: portrait) {
  [class*="col-"] {
    max-width: 100%;
  }
}

/*sm and md*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1024px) and (min-device-width: 300px) and (orientation: portrait) {
  img.smaller {
    display: none;
  }

  img.full {
    display:none;
  }

  img.mobile {
    display:block;
    padding-bottom: 5%;
  }

  img.ranks {
    width: 100%;
    height: 100%;
  }
}

/*sm*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 667px) and (min-device-width: 300px) and (orientation: portrait) {
  .text {
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 1%;
    font-size: 80%;
  }

  table.table {
    font-size: 0.6em;
  }

  .intro {
    font-size: 85%;
  }

  img.gif {
    height: 20px;
    width: auto;
  }

  div.social-icons {
    padding-top: 0.5em;
    height: 5em;
    position: fixed;
  }

  div.socicon {
    width: 1em;
    margin-right: 0.5em;
  }

  .credits{
    position: absolute;
    bottom: 0;
    top: 25%;
    text-align: center;
    font-size: 0.8em;
  }

  .center {
    top: 17%;
    margin-left: 3px;
  }

  #header {
    height: 45vh;
  }

  .myh1 {
    font-size: 1.2em;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
  }
}

/*sm for landscape*/

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 768px) and (min-device-width: 300px) and (orientation: landscape) {
  .myh1 {
    font-size: 1.5em;
  }

  .credits {
    top: 55%;
  }

  .intro {
    font-size: 1em;
  }

  div.socicon {
    padding-top: 0.1em;
    width: 1.8em;
  }

  img.gif {
    height: 40px;
    width: auto;
  }
}

/*md*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: portrait) {
  .text {
      margin-left: 1%;
      margin-right: 1%;
      font-size: 125%;
  }

  table.table {
    font-size: 1em;
  }

  .intro {
    font-size: 120%;
  }

  div.socicon {
    width: 2.4em;
    margin-top: 2%;
    margin-right: 1em;

  }

  div.social-icons {
    padding-top: 0.4em;
    height: 5em;
    position: fixed;
    padding-right: 40px;
  }

  #header {
    height: 100vh;
  }

  .center {
    top: 65%;
  }

  .credits {
    top: 75%;
    font-size: 125%;
  }

  .myh1 {
    font-size: 2.8em;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
  }
}

/*extra sm*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 568px) and (min-device-width: 300px) and (orientation: portrait) {
  .credits {
    top: 28%;
    font-size: 0.6em;
  }

  .center {
    top: 25%;
  }

  .myh1 {
    font-size: 1.1em;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
  }

  div.socicon {
    width: 0.9em;
  }

  .intro {
      font-size: 75%;
  }
}

/*extra sm landscape*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 568px) and (min-device-width: 300px) and (orientation: landscape) {
  .credits {
    top: 50%;
  }

  .center {
    top: 35%;
  }

  .intro {
    font-size: 0.8em;
  }
}




/*tooltip style*/

.btn { 
  display:block;
  font-size:12px;
  font-weight:400;
  text-align:left;
  text-decoration:none;
  background-color: none;
  border: 1px solid transparent;
}

/*add for mob images*/

/*.kirovograd {
  height: 100%;
  width: 135%;
}

.vinnitza {
  height: 100%;
  width: 140%;
}*/